<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{getTitle()}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="home" class="dropdown-toggle" data-toggle="dropdown">
            <i class="pe-7s-graph"></i>
          </a>
        </li>
        <li class="dropdown">
          <a href="report">
            <i class="pe-7s-user"></i>
            <p class="hidden-lg hidden-md">Search</p>
          </a>
        </li>
        <li>
          <a href="acc7day">
            <i class="pe-7s-note2"></i>
            <p class="hidden-lg hidden-md">Search</p>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <p>ระบบประมวลผลข้อมูลภูมิสารสนเทศอัตโนมัติของพื้นที่เสี่ยงภัยน้ำท่วม-ดินถล่ม</p>
          </a>
        </li>
        <li class="separator hidden-lg hidden-md"></li>
      </ul>
    </div>
  </div>
</nav>
